{% include 'header.html' %}
<body style="background-color: #292b30;">

<!-- The Modal -->
<div class="modal fade" id="newPost">
  <div class="modal-dialog">
  <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-white" style="background-image: url(static/other/observatory_bg.png);">
        <div class="col"></div>
        <div class="col-auto text-white fw-bold ps-4"><h4>upload your magic here</h4></div>
        <div class="col"></div>
        <button type="button" class="btn-close" style="background-color:#fff;" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <div class="modal-body border-0 text-center" style="background-color: rgb(58, 56, 71);">
        <form role="form" enctype=multipart/form-data action="/save_image" method="POST">
          <label class="btn fw-bold text-white m-3">
            <i class="bi bi-image-fill pe-2"></i>
            Choose your Photo<input type="file" hidden>
          </label>
          <div class="row">
            <div class="col"><hr style="color: #fff;"></div>
            <div class="col-auto text-white fw-bold">OR</div>
            <div class="col"><hr style="color: #fff;"></div>
          </div>
          <!-- input text dimodif -->
          <div class="input-group pt-4 ps-5 pe-5 input-group-lg">
            <input type="text" class="form-control" type="text" placeholder="URL Image here..." 
            style="background-color:rgb(43, 38, 53); 
            border: 0; 
            border-radius: 2px;">
          </div>
        </form>
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: rgb(58, 56, 71);
      background-image: url(static/other/observatory_lower.png);">
      <button type="button" class="btn btn-success fw-bold" data-bs-dismiss="modal">Submit<i class="bi bi-box-arrow-in-right ps-2"></i></button>
      </div>

  </div>
  </div>
</div>

<!-- bagian tags -->
<div class="p-5 bg-primary text-white text-center" style="background-image: url(static/other/{{bg}}.png);">
  <h2 class="pt-4 fw-bold" style="color:#aed8ea">{{line}}</h2> <!-- random line -->
  <div class="container mt-3">
    <!-- tulisan tags dan more -->
    <div class="row pb-3">
      <div class="col-sm-6">
        <h4 style="text-align:center; 
        font-weight: bold; color: rgba(255, 255, 255, 0.856);"><i class="bi bi-tags pe-2"></i>TAGS</h4>
      </div>
      <div class="col-sm-6">
        <a class="btn"><h4 style="text-align:center; margin-top: -10px;
          font-weight: bold; color: rgba(255, 255, 255, 0.856);">MORE<i class="bi bi-box-arrow-up-right ps-2"></i></h4></a>
      </div>
    </div>
    <!-- tags random pake jinja dari db, bg card random juga -->
    <div class="row d-flex justify-content-center">
      {% for x in tgs %}
      <div class="col-sm-1" style="width: 120px">
          <div class="card" style="background-color: {{kolor|random}};">
            <!-- gambare -->
              <a href="/t/{{x.0}}/{{x.1}}">
                  <div class="card-img-top"
                      style="background: url('static/img/{{x.2}}/{{x.3}}'); 
                      background-repeat:no-repeat; 
                      background-size: cover; 
                      height:75px;width:100% "></div>
              </a>
              <!-- tulisane -->
              <div class="card-body">
                  <a href="/t/{{x.0}}/{{x.1}}" class="card-title fw-bold text-center" href="/t/{{x.0}}/{{x.1}}">{{x.2}}</a>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

<!-- bagian isi -->
<div class="text-white">
  <div class="container-fluid mt-3 pe-5 ps-5">
    <!-- tulisan tags dan more -->
    <div class="row pb-3">
      <div class="col-sm-6">
        <h4 style="text-align:left; 
        font-weight: bold; color: rgba(255, 255, 255, 0.712);"><i class="bi bi-images pe-2"></i>Images</h4>
      </div>
      <div class="col-sm-6">
        <i class="bi bi-caret-down-fill ps-1" style="float:right; margin-top: 9px; margin-left: -12px;"></i>
        <select name="sort" id="sort" class="select"
        style="background-color: #fdfdfd00;
        float:right; font-size: 1.5rem; -webkit-appearance: none;
        font-weight: bold; border: none; -moz-appearance: none;
        color: rgba(255, 255, 255, 0.712);">
          <option value="newest">Newest</option>
          <option value="random">Random</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>
    </div>
    <!-- tags random pake jinja dari db, bg card random juga -->
    <div class="row d-flex justify-content-center">
      {% for x in newImg %}
      <div class="col-sm-2 pb-4">
        <a href="#">
          <div class="card" style="background-color: #4a4d55;">
            <div class="card-header" style="background: url('static/img/{{x.2}}/{{x.3}}'); 
            background-repeat:no-repeat; 
            background-size: cover; 
            height:250px;width:100% ">
            </div>
            <!-- tulisane -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <a href="#" class="card-title fw-bold" href="/t/{{x.0}}/{{x.1}}">{{x.4}}</a>
                </div>
                <div class="col" style="text-align: right;">
                  <a href="#" href="/t/{{x.0}}/{{x.1}}">{{x.6}}</a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="#" class="max-lines">{{x.5}}</a>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
    </div>
  </div>
</div>

</body>
{% include 'footer.html' %}

