{% include 'header.html' %}
<body style="background-color: #292b30;">

<!-- modal new post -->
<div class="modal fade" id="newPost">
  <div class="modal-dialog">
  <div class="modal-content">

      <!-- Modal Header -->
      <div class="modal-header text-white" style="background-image: url(/static/other/observatory_bg.png);">
        <div class="col"></div>
        <div class="col-auto text-white fw-bold ps-4"><h4>upload your magic here</h4></div>
        <div class="col"></div>
        <button type="button" class="btn-close" style="background-color:#fff;" data-bs-dismiss="modal"></button>
      </div>

      <!-- Modal body -->
      <form role="form" enctype=multipart/form-data action="/save_image" method="POST">

      <div class="modal-body border-0 text-center" style="background-color: rgb(58, 56, 71);">
        <label class="btn fw-bold text-white m-3">
          <i class="bi bi-image-fill pe-2"></i>
          Choose your Photo
          <input name="image_file" class="image_file" type="file" hidden required><br>
          <img class="pt-3" id="modal_img" style="width: 75%;" >
        </label>
        <div class="row">
          <div class="col"><hr style="color: #fff;"></div>
          <div class="col-auto text-white fw-bold">ALSO</div>
          <div class="col"><hr style="color: #fff;"></div>
        </div>
        <!-- input text dimodif -->
        <div class="input-group pt-4 ps-5 pe-5 input-group-lg">
          <input type="text" class="form-control" name="title" placeholder="Image title here..."  required
          style="background-color:rgb(43, 38, 53); 
          border: 0; color: #fff;
          border-radius: 2px;">
        </div>
        <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
          <textarea name="description" class="form-control" placeholder="Description..."
          style="background-color:rgb(43, 38, 53); 
          border: 0; color: #fff;
          border-radius: 2px;"></textarea>
        </div>
        <div class="input-group pt-3 ps-5 pe-5 input-group-lg">
          <input type="text" class="form-control" name="tags" placeholder="Select tags or create new tags..."  list="tags" required
          style="background-color:rgb(43, 38, 53); 
          border: 0; color: #fff;
          border-radius: 2px;">
          <datalist id="tags">
            {%for z in tags%}
            <option value="{{z.1}}">
            {%endfor%}
          </datalist>
        </div>  
      </div>

      <!-- Modal footer -->
      <div class="modal-footer" style="background-color: rgb(58, 56, 71);
      background-image: url(/static/other/observatory_lower.png);">
      <button type="submit" class="btn btn-success fw-bold" data-bs-dismiss="modal">Submit<i class="bi bi-box-arrow-in-right ps-2"></i></button>
      </div>
    </form>

  </div>
  </div>
</div>

<!-- bagian tags -->
<div class="p-5 bg-primary text-white text-center" style="background-image: url(/static/other/{{bg}}.png);">
  <h2 class="pt-5 fw-bold" style="color:#aed8ea">{{line}}</h2> <!-- random line -->
  <h5>{{total.0}} POSTS</h5>
  <div class="container mt-3">
    <!-- tulisan tags dan more -->
    <div class="row pb-3 pt-4">
      <div class="col-sm-6">
        <h4 style="text-align:center; 
        font-weight: bold; color: rgba(255, 255, 255, 0.856);"><i class="bi bi-tags pe-2"></i>TAGS</h4>
      </div>
      <div class="col-sm-6">
        <a class="btn" href="/tags"><h4 style="text-align:center; margin-top: -10px;
          font-weight: bold; color: rgba(255, 255, 255, 0.856);">MORE<i class="bi bi-box-arrow-up-right ps-2"></i></h4></a>
      </div>
    </div>
    <!-- tags random pake jinja dari db, bg card random juga -->
    <div class="row d-flex justify-content-center">
      {% for x in imgtgs %}
      <div class="col-sm-1 pt-3" style="width: auto;">
          <div class="card" style="background-color: {{kolor|random}};">
            <!-- gambare -->
              <a href="/t/{{x.0}}">
                  <div class="card-img-top"
                      style="background: url('/static/img/{{x.3}}'); 
                      background-repeat:no-repeat; 
                      background-size: cover; 
                      height:75px;width:100% "></div>
              </a>
              <!-- tulisane -->
              <div class="card-body">
                  <a class="card-title fw-bold text-center" href="/t/{{x.0}}">{{x.2}}</a>
              </div>
          </div>
      </div>
      {% endfor %}
    </div>
    {% for message in get_flashed_messages() %}
    <div class="alert alert-{{msg_color}} alert-dismissible mt-5">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
      <strong>{{ message }}</strong>
    </div>
    {% endfor %}
  </div>
</div>

<!-- bagian isi -->
<div class="text-white">
  <div class="container-fluid mt-3 pe-5 ps-5">
    <!-- tulisan tags dan more -->
    <div class="row pb-3">
      <div class="col-sm-6">
        <h4 style="text-align:left; 
        font-weight: bold; color: rgba(255, 255, 255, 0.712);"><i class="bi bi-images pe-2"></i>Images</h4>
      </div>
      <div class="col-sm-6">
        <select name="sort" id="sort" class="select"
        style="background-color: #fdfdfd00;
        float:right; font-size: 1.5rem;
        font-weight: bold; border: none; 
        color: rgba(255, 255, 255, 0.712);"
        onchange="this.options[this.selectedIndex].value && (window.location = this.options[this.selectedIndex].value);">
          <option hidden>{{slect}}</option>
          <option value="newest">Newest</option>
          <option value="random">Random</option>
          <option value="oldest">Oldest</option>
        </select>
      </div>
    </div>
    <!-- <div class="row pb-3">
      <h2 style="text-align:center; 
      font-weight: bold; color: rgba(255, 255, 255, 0.712);">
      <i class="bi bi-images pe-2"></i>Images</h2>
    </div> -->
    <!-- tags random pake jinja dari db, bg card random juga -->
    <div class="row d-flex justify-content-center">
      {% if total.0 == 0 %}
      <div class="d-flex justify-content-center pb-4">
        <h1>Found {{total.0}} results for {{searched}}</h1>
      </div>
      {%else%}
      {% for x in newImg %}
      <div class="col-sm-2 pb-4">
        <a href="/i/{{x.1}}">
          <div class="card" style="background-color: #4a4d55;">
            <div class="card-header" style="background: url('/static/img/{{x.3}}'); 
            background-repeat:no-repeat; 
            background-size: cover; 
            height:250px;width:100% ">
            </div>
            <!-- tulisane -->
            <div class="card-body">
              <div class="row">
                <div class="col">
                  <a class="card-title fw-bold" href="/i/{{x.1}}">{{x.4}}</a>
                </div>
                <div class="col" style="text-align: right;">
                  <a href="/i/{{x.1}}">{{x.6}}</a>
                </div>
              </div>
            </div>
            <div class="card-footer">
              <a href="/i/{{x.1}}" class="max-lines">{{x.5}}</a>
            </div>
          </div>
        </a>
      </div>
      {% endfor %}
      {%endif%}
    </div>
  </div>
</div>

</body>
{% include 'footer.html' %}

